.App {
}

.toolbar {
  padding-top:4px;
  height:24px;
  background: #ccc;
}
.subToolbar {
    height:22px;
    background: #eee;
    margin-bottom: 4px;
}

#left {
  float:left;
}

#center {
  float:left;
}

