body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.canvasElement {
  position:absolute;
  overflow:hidden;
}

.canvasImage {
  width:100%;
  height:auto;
  position:absolute;
  transform:translate(-50%,-50%);
  left:50%;
  top:50%;
}

.canvasScene {
  position:relative;
  width:240px;
  height:135px;
  border: 1px solid gray;
  background: #ffc;
}

.canvasPages {
  height: 400px;
  overflow:scroll;
}

.canvasPage {
  position:relative;
  width:240px;
  height:135px;
  border: 1px solid gray;
}

#editor {
  width:240px;
  float:left;
}

#preview {
  width:400px;
  height:500px;
}


