body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canvasElement {
  position:absolute;
  overflow:hidden;
}

.selection {
  position:absolute;
}

.handle {
  width:18px;
  position:absolute;
}

.canvasImage {
  width:100%;
  height:auto;
  position:absolute;
  transform:translate(-50%,-50%);
  left:50%;
  top:50%;
}

.frameScene {
  position:relative;
  border: 1px solid #aaa;
  background: #eee;
  overflow:hidden;
}

.frameSceneSelected {
    position:relative;
    border: 1px solid #00BCD4;
    background: #eee;
  overflow:hidden;
}

.canvasScene {
    background:#ffc;
    position:absolute;
}

.canvasPages {
  overflow:scroll;
}

.frameProperties {
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #aaa;
  border-top: #fff;
}

.frameProperty {
  margin-top:4px;
  margin-left:24px;
  margin-bottom:4px;
  color: #777;
}

.fieldProperty {
  width: 6em;
  float: left;
}

.fieldValue {
  width: 10em;
  float: left;
}

.fieldButton {
  width: 2.5em;
  float: left;
  color: #00BCD4;
  text-align: center;
  border: 1px solid #00BCD4;
  border-radius: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.frameCursor {
  float:left;
  background:rgba(0, 255, 0, 0.0);
  width:10;
  height:10;
  position:relative;
  border: 1px solid rgba(255, 0, 0, 0.0);
}

.framePage {
  position:relative;
  border: 1px solid #aaa;
  background-color: #eee;
  overflow:hidden;
}

.framePageSelected {
  position:relative;
  border: 1px solid #00BCD4;
  background-color: #eee;
  overflow:hidden;
}

.canvasPage {
    background:#fff;
    position:absolute;
}


.previewFrame {
    position:fixed;
    left:0;
    top:0;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
}

.preview {
    position:absolute;
    background:#fff;
}

.segmentFrame {
  float:left;
  border: 1px solid #00BCD4;
  border-radius: 4px;
}

.segmentCell {
  float:left;
  border-left: 1px solid #00BCD4;
  color: #00BCD4;
  text-align: center;
}

.segmentCellFirst {
  float:left;
  color: #00BCD4;
  text-align: center;
}

.segmentCellOn {
  background: #00BCD4;
  color: #ffffff;
}

.sliderFrame {
  float:left;
  border: 1px solid #00BCD4;
  border-radius: 4px;
}

.sliderCell {
  float:left;
  border-left: 1px solid #00BCD4;
}

.sliderCellZero {
  float:left;
  border: 1px solid #00BCD4;
  border-radius: 4px;
  margin-right: 2px;
}

.sliderCellFirst {
  float:left;
}

.sliderCellOn {
  background: #00BCD4;
}

