body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.canvasElement {
  position:absolute;
}

.canvasScene {
  position:relative;
  width:240px;
  height:135px;
  border: 1px solid gray;
  background: #ffc;
}

.canvasPage {
  position:relative;
  width:240px;
  height:135px;
  border: 1px solid gray;
}

#editor {
  width:240px;
  float:left;
}

#preview {
  width:400px;
  height:300px;
}


